@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  min-height: 2000px;
  padding-top: 70px;
}

.container-form{
   padding-top: 0px;
}

.handler_row
{
    padding-bottom: 10px;
}

.page-header{
    margin-top:30px;
}

.pagination{
    margin: 0px;
}

.page_entries_info {
  float: right;
  margin-top: 5px;
}


